  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/hexagon.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  </head>
  <div>
  <div>
  <p> <h1> Pay Attention! you are in 'Attention' Cognitive area </h1></p>
  <p> <h3><div ng-if="message">{{message}} </div> </h3></p>
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#!squares">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 1</h1>
            <p>...helps you improve your attention ability</p>
          </a>
        </div>
      </li>
	    <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 2</h1>
            <p>Task 2 helps you improve your attention ability</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 3</h1>
            <p>Some sample text about the Task3 leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 4</h1>
            <p>Some sample text about the Task4 leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 5</h1>
            <p>Some sample text about the Task5 leads to</p>
          </a>
        </div>
      </li>
    
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
	  <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
    </ul>
</div>