  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/hexagon.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  </head>
  <div>
  <div>
  <p> <h1> Pay Attention! you are in 'Attention' Cognitive area </h1></p>
  <p> <h3>{{message}} </h3></p>
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#" >  
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 1</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
	    <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>Task 2</h1>
            <p>Task 2 helps you improve your attention ability</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
    
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
	  <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/greenRect.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </div>
      </li>
    </ul>
</div>