  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/hexagon.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  </head>
  <div>
  <div>
  <p> <h1> Working hard for the memory sake! you are in 'Working Memory' Cognitive area </h1></p>
  <p> <h2><div ng-if="userName"> {{userName}} </h2></div></p>
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/orangeRect.jpg" alt="" />
            <h1>Task 1</h1>
            <p>...helps you improve your Impulsivity ability</p>
          </a>
        </div>
      </li>
	    <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/orangeRect.jpg" alt="" />
            <h1>Task 2</h1>
            <p>Task 2 helps you improve your Impulsivity ability</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/orangeRect.jpg" alt="" />
            <h1>Task 3</h1>
            <p>Some sample text about the Impulsivity leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/orangeRect.jpg" alt="" />
            <h1>Task 4</h1>
            <p>Some sample text about the Task4 leads to</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="../res/orangeRect.jpg" alt="" />
            <h1>Task 5</h1>
            <p>Some sample text about the Task5 leads to</p>
          </a>
        </div>
      </li>
    
    </ul>
</div>